.logo-container {
  float: top;
  padding-top: 10px 30px;
  margin-left: 15cm;
  text-align: center;
  } 
  body{
    background-image: url("../images/Splash2.webp");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
   }
body {
    margin: 50px;
    height: 500vh;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.header-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1fr, 1f;
    padding: 5% 10%;
    grid-auto-rows: minmax(100px, auto);
  }
.title-grid{
  display: grid;
  padding: 5% 10%;
  grid-auto-rows: minmax(50px, auto);
}
.main-navgrid{
  display: grid;
  padding: 5% 10%;
  grid-auto-rows: minmax(100px, auto);

}
.button-nav {
    padding: 20px 30px;
    font-size: 60px;
    color:  darkslategray;
    height: 10%;
    width: 20%;
        }
  
.button-nav:hover {
    background-color: rgb(102, 168, 223);
    color: white;
    height: 60%;
  }
  
#heroHeader{
    display: flex;
    justify-content: flex-end;
    color: lightslategray;
    font-size: 60px;  
  }
#subheader {
      display: flex;
      justify-content: flex-end;
      line-height: 2cm;
      Color: lightslategrey;
      font-size: 50px;
    }
button {
  /* grid-column: 4f; */
  flex-wrap: wrap;
  border-radius: 25px; 
  border: 9px solid rgb(119, 136, 153);
  width: 400px;
  margin: 80px;
  line-height: 50px;
  font-size: 40px; 
  }

  .para {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
  }
      
/* Social Media icons */

*{  
  padding: 0;
  margin: 0;
  list-style: none;
  }
  
ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

ul li{
    position: relative;
    background: white;
    width: 90px;
    height: 90px;
    margin: 0 20px;
    border: 3px solid;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
  }

ul li .fab{
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
  }
ul li:nth-child(1){
  border-color:lightslategrey;
  }
ul li:nth-child(1) .fab {
  color: lightslategrey;
  }
ul li:nth-child(2){
  border-color: lightslategrey;
  }
ul li:nth-child(2) .fab {
  color: lightslategrey;
  }
ul li:nth-child(3){
  border-color: lightslategrey;
  }
ul li:nth-child(3) .fab {
  color: lightslategrey;
  }
ul li:nth-child(4){
  border-color:  lightslategrey;
  }
ul li:nth-child(4) .fab {
  color: lightslategrey;
  }
ul li:hover:nth-child(1) {
  background:  lightslategrey;
  }
ul li:hover:nth-child(2) {
  background: lightslategrey;
  }
ul li:hover:nth-child(3) {
  background:  lightslategrey; 
  }
ul li:hover:nth-child(4) {
  background:  lightslategrey;
  }
ul li .fab:nth-child(1){
  left: -50%;
  opacity: 0;
  }
ul li:hover .fab:nth-child(1){
  left: -50%;
  opacity: 1;
  color: white;
  }
ul li:hover .fab:nth-child(2){
  left: 150%;
  opacity: 0;
  } 

  /* body {
    background-color: rgb(255, 255, 255);
  } */


   /* @media only screen and (max-width:600px){
     .body
   } */